
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* third-party libraries CSS */

.bg-primary{
  background-color: #00A656;
}
.text-secondary{
  color: #001f14;
}
.bg-secondary{
  background-color: #001f14;
}

.testimonial-01 .swiper-pagination-bullet {
  @apply h-2.5 w-2.5 bg-stroke opacity-100;
}
.testimonial-01 .swiper-pagination-bullet-active {
  @apply w-5 rounded-full bg-primary;
}

.testimonial-01 .swiper-pagination {
  @apply relative pt-[50px];
}

#supportCheckbox:checked ~ div span {
  @apply opacity-100;
}

@layer base {
  body {
    @apply relative z-1 font-inter text-regular font-normal text-waterloo dark:text-manatee;
  }
}

@layer components {
  .dropdown {
    @apply -left-7.5 mt-2 hidden min-w-max flex-col gap-4 rounded-md border border-stroke bg-white px-8 py-5 shadow-solid-13 duration-300 ease-in dark:border-strokedark dark:bg-black xl:invisible xl:absolute
    xl:mt-0 xl:flex xl:w-[250px] xl:translate-y-10 xl:opacity-0
    xl:before:absolute xl:before:-top-1.5 xl:before:left-10 xl:before:h-3 xl:before:w-3 xl:before:rotate-45 xl:before:border-l xl:before:border-t xl:before:border-stroke xl:before:bg-white xl:group-hover:visible xl:group-hover:translate-y-6.5
    xl:group-hover:opacity-100 xl:dark:before:border-strokedark xl:dark:before:bg-black;
  }
}

@media (max-width: 1280px) {
  .navbar {
    @apply max-h-[400px] overflow-y-scroll;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .img-white {
    filter: invert(0%) sepia(96%) saturate(15%) hue-rotate(249deg)
      brightness(100%) contrast(105%);
  }
}

.blog-details-docs {
  @apply rounded-lg border border-white p-7.5 shadow-solid-3 transition-all dark:border-strokedark  dark:bg-blacksection xl:p-12.5;
}

.blog-details p {
  @apply mb-8 text-base leading-relaxed text-titlebgdark dark:text-waterloo;
}

.blog-details p strong {
  @apply text-primary dark:text-waterloo;
}
.blog-details h3 strong,
.blog-details h3 {
  @apply mb-10 text-xl !font-semibold leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h4 strong,
.blog-details h4 {
  @apply text-xl !font-semibold leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h5 strong,
.blog-details h5 {
  @apply mb-3 text-lg !font-semibold leading-tight text-black dark:text-white sm:text-xl;
}

.blog-details h1 {
  @apply mb-4 text-3xl !font-bold !leading-tight text-black dark:text-white sm:text-4xl md:text-[45px] lg:text-4xl xl:text-[45px];
}
.blog-details h2 strong,
.blog-details h2 {
  @apply mb-4 text-[26px] !font-bold !leading-tight text-black dark:text-white sm:text-3xl md:text-4xl;
}

.blog-details ul,
.blog-details ol {
  @apply mb-10 list-inside list-disc text-titlebgdark;
}

.blog-details li,
.blog-details li {
  @apply mb-2 text-base text-titlebgdark dark:text-waterloo;
}

.blog-details blockquote {
  @apply relative z-10 mb-10 overflow-hidden rounded-sm bg-manatee p-8 text-center text-base font-medium italic text-black dark:bg-titlebgdark md:py-9 lg:px-10;
}

.blog-details blockquote::after {
  content: "";
  @apply absolute bottom-0 right-0 h-20 w-20 bg-[url(/images/blog/quote-shape-2.svg)] bg-contain bg-right-bottom bg-no-repeat;
}

.blog-details blockquote::before {
  content: "";
  @apply absolute left-0 top-0 h-[106px] w-[140px] bg-[url(/images/blog/quote-shape-1.svg)] bg-contain bg-left-top bg-no-repeat dark:bg-[url(/images/blog/quote-shape-1.svg)];
}

pre {
  @apply relative mb-2 rounded-lg bg-strokedark px-4 py-2;
}
.prism-copy-button {
  @apply absolute right-2 top-2 h-[26px] rounded bg-white px-4 text-primary;
}

.active-tab {
  @apply bg-stroke text-black dark:bg-blackho dark:text-white;
}

.myself{
  border-radius: 20px;
  background-color: #f2d14d;
  justify-content: center;
  align-items: center;
  padding: 80px 50px 80px 80px;
  display: flex
;
  position: relative;
}



.sri-lanka-text {
  background-image: url('../public/images/hero/sri-lanka-flag4.webp');
  background-size: cover;
  background-position: center;
  background-clip: text;
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text; /* For Safari support */
}

.sri-lanka-gradient {
  background-image: linear-gradient(45deg, #FFBE29, #EB7400, #00534E, #8D153A, #FFBE29);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text; /* Safari support */
  color: transparent;
  animation: gradient-move 2s infinite linear;
  display: inline-block;
}

@keyframes gradient-move {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.varela-round-regular {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}
.introduction-bg {
  /*background-image: url('https://images.pexels.com/photos/26620075/pexels-photo-26620075/free-photo-of-train-on-nine-arches-bridge-in-sri-lanka.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');*/
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(24deg, #000000, rgb(0 0 0 / 79%)), url('../public/images/hero/zn.jpg');
}

.gallery__item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.gallery__swiper {
  width: 300px;
  height: 280px;
}

.gallery__swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  overflow: hidden; /* Ensures the images are clipped to fit the border radius */
}

.gallery__swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire slide without distortion */
}

.footer-bg {
  background-image: url('/images/user/33.png');
  background-size: cover;
  background-position: center;
  /* Optional: Adding a semi-transparent gradient for better contrast */
  /*background-image: linear-gradient(3deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.2)), url('https://www.lovesrilanka.org/wp-content/uploads/2019/09/Footer-Desktop-3.jpg');*/
}




.scan-me{
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
.cta-bg{
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(3deg, #000000, rgb(255 255 255 / 40%)), url(https://images.pexels.com/photos/26847447/pexels-photo-26847447/free-photo-of-elephant-in-forest.jpeg?auto=compress&cs=tinysrgb&w=600);
}


.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:disabled {
  background: #bbb;
  cursor: not-allowed;
}

.error-message {
  color: #ff4d4d;
  margin-bottom: 1rem;
}


.green-text{
  color: #00A656;
}
.green-bg{
  background: #001f14;
  color: #FFFFFF;
}

.green-gradient-bg {
  background: #26BF4F;
  /*background: linear-gradient(66deg, rgba(6,47,53,1) 0%, rgba(0,100,0,1) 59%, rgba(174,222,52,1) 100%);*/

}

.most-visit-btn{
  padding: 5px 25px;
  border-radius: 20px;
  font-weight: 500;
  border: 1.5px solid #e0e0e0;
  text-overflow: ellipsis;
  box-shadow: none;
  box-sizing: border-box;
  width: auto;
  font-size: smaller;

}

.most-visit-card{
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 5px;
}

.most-visit-card-bottom{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  /*background-color: #ffffff;*/
  width: 90%;
  border-radius: 16px;
overflow: hidden;
  padding: 7px 15px;
color: white;


  background: rgba(0,0,0,0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,0,0,0.2);
}



